.task-form {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form input[type="text"] {
  height: 40px;
  font-size: 1.4em;
  padding: 0 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 80%;
}

.task-form button[type="submit"] {
  margin-left: 5px;
  height: 40px;
  width: 40px;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-form input[type="text"]:focus {
  border: 2.5px solid rgba(115, 28, 255, 0.25);;
}

