.main {
  background: white;
  padding: 30px;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 5px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}


.main h1 {
  font-size: 2em;
  text-align: center;
}
