.taskList {
  margin-top: 15px;
  border: 2px solid rgba(204, 204, 204, 0.295);
  border-bottom: none;
  list-style-position: inside;
}

.taskList li > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1px solid rgba(0, 0, 0, 0.315);
  padding: 16px;
  transition: all .4s ease-out ;
}

.taskList li:hover {
  transition: all .4s ease-out ;
  background: rgba(204, 204, 204, 0.2)
}

.taskList .edit-task, .taskList .remove-task {
  font-size: 1.2em;
  cursor: pointer;
}

.taskList .edit-task {
  margin-right: 12px;
  color: rgb(0, 151, 151);
}

.taskList .remove-task {
  color: tomato
}
